@use 'shared';

// $swatch: themes.cassette('sarah');

html,
body {
	width: 100%;
	height: 100%;
}

body {
	font-family: "Roboto", sans-serif;
	margin: 0;
	background-color: var(--pageColor);
	transition: transform 500ms;
	overflow: hidden;

	/* Safari fix */
	position: relative;
	top: 0;

	&.push-left {
		transform: translateX(-300px);
		@include shared.media-min(600px) { transform: translateX(-300px); }
	}
}

h1,
h2,
h3 {
	font-weight: 900;
	margin: 0;
}

h1 {
	font-size: 13px;
	text-transform: uppercase;
	color: var(--pageColor);
	position: absolute;
	bottom: 41px;

	@include shared.media-min(600px) {
		font-size: 22px;
		bottom: 55px;
	}

	@include shared.media-min(1400px) {
		font-size: 25px;
		bottom: 70px;
	}

	&:nth-of-type(1) {
		left: 10px;
		@include shared.media-min(600px) { left: 15px; }
	}

	&:nth-of-type(2) {
		right: 10px;
		@include shared.media-min(600px) { right: 15px; }
	}
}

h2 {
	font-size: 13px;
	color: rgba(0, 0, 0, 0.22);
}

h3 {
	font-size: 30px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.4);
	text-transform: uppercase;
	margin-bottom: 35px;
}

hr {
	height: 3px;
	border: none;
	background-color: var(--pageColor);
	display: none;
	@include shared.media-min(1400px) { display: block; }
}

input {
	&:focus {
		outline: none;
	}

	&[type="text"],
	&[type="button"] {
		font-size: 15px;
		font-weight: 700;
	}

	&[type="text"] {
		color: rgba(0, 0, 0, 0.4);
		width: 100%;
		background: none;
		border: none;
		border-bottom: 2px solid rgba(0, 0, 0, 0.4);
		display: block;
		margin-bottom: 15px;
		padding-bottom: 5px;
	}

	&[type="button"] {
		color: var(--navColor);
		width: calc(50% - 10px);
		height: 60px;
		background: none;
		background-clip: content-box;
		background-color: rgba(0, 0, 0, 0.45);
		border: 3px solid rgba(0, 0, 0, 0.4);
		border-radius: 20px;
		display: inline-block;
		margin-top: 40px;
		padding: 5px;
		cursor: pointer;
		transition: width 0.2s linear, height 0.2s linear, padding 0.2s linear;

		/* Override Safari iOS styles for buttons */
		-webkit-appearance: none;
	}

	&[type="button"]:hover {
		padding: 0;
	}

	&::placeholder {
		font-size: 15px;
		font-weight: 700;
		color: rgba(0, 0, 0, 0.22);
	}
}