/* Themes */
.felipe {
	--site-pg-color: #e9d460 ;
	--site-nav-color: #425f62;
	--c-strip-color: #006cb7;
	--c-case-color: #333;
	--c-stripes-color: #373737;
	--c-body-color: #db634c;
	--c-wheel-color: #92b2b5;
}

.sarah {
	--site-pg-color: #e9d460 ;
	--site-nav-color: #425f62;
	--c-strip-color: #006cb7;
	--c-case-color: #333;
	--c-stripes-color: #373737;
	--c-body-color: #db634c;
	--c-wheel-color: #92b2b5;
}

.arnold {
	--site-pg-color: #e9d460 ;
	--site-nav-color: #425f62;
	--c-strip-color: #006cb7;
	--c-case-color: #333;
	--c-stripes-color: #373737;
	--c-body-color: #db634c;
	--c-wheel-color: #92b2b5;
}

.gustavo {
	--site-pg-color: #e9d460 ;
	--site-nav-color: #425f62;
	--c-strip-color: #006cb7;
	--c-case-color: #333;
	--c-stripes-color: #373737;
	--c-body-color: #db634c;
	--c-wheel-color: #92b2b5;
}